flows.json
[
    {
        "id": "bb6468116eb59eb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c559ab0993c9a3e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0fec39cf6bee29f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f6c091f08d0f863",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d67b758e644f9dbe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f9080214b5552fa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0d4503469eaa3c1f",
        "type": "ui_group",
        "name": "Aeroporto Internacional Brasilia",
        "tab": "d67b758e644f9dbe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd38f18e7233c3b1",
        "type": "ui_group",
        "name": "Aeroporto Internacional Campinas",
        "tab": "d67b758e644f9dbe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14ae8a314a72c94b",
        "type": "ui_group",
        "name": "Temperatura Atual",
        "tab": "d67b758e644f9dbe",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c8cdaa29eda592b",
        "type": "ui_group",
        "name": "Aeroporto Internacional Brasilia",
        "tab": "d67b758e644f9dbe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12ebb1ee4b7896f0",
        "type": "ui_group",
        "name": "Aeroporto Internacional Campinas",
        "tab": "d67b758e644f9dbe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e57a424a62bd719",
        "type": "ui_group",
        "name": "Temperatura Atual",
        "tab": "d67b758e644f9dbe",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc3c6cb58d4418a1",
        "type": "ui_spacer",
        "z": "9c559ab0993c9a3e",
        "name": "spacer",
        "group": "edc392ad9faceae5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4daf267ae0a9c59f",
        "type": "ui_spacer",
        "z": "c0fec39cf6bee29f",
        "name": "spacer",
        "group": "edc392ad9faceae5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fed3ea77ddcdff5d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e356d13bcb134b41",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "1959f64cc95a6f27",
                "4b2b2661261948aa"
            ]
        ]
    },
    {
        "id": "424d58272c4f3991",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "ae1ed15af6ba8837",
                "3095ba0c1d98f68a",
                "e8bae3cb5a77a9d9",
                "2d85238f234872c2",
                "7dea213c31238e95",
                "2fe35f2f292390df"
            ]
        ]
    },
    {
        "id": "1959f64cc95a6f27",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Brasilia,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "424d58272c4f3991"
            ]
        ]
    },
    {
        "id": "e8bae3cb5a77a9d9",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.visibility",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "4d8abc769c5769d9"
            ]
        ]
    },
    {
        "id": "3095ba0c1d98f68a",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 620,
        "wires": [
            [
                "d479037cd0b2e56d"
            ]
        ]
    },
    {
        "id": "ae1ed15af6ba8837",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 660,
        "wires": [
            [
                "7f3aeb556769d371"
            ]
        ]
    },
    {
        "id": "2d85238f234872c2",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 700,
        "wires": [
            [
                "c954b92dfec1b18a"
            ]
        ]
    },
    {
        "id": "7dea213c31238e95",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 740,
        "wires": [
            [
                "e3a6396d020f887f"
            ]
        ]
    },
    {
        "id": "4b2b2661261948aa",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Campinas,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "dac39addc0b8c22a"
            ]
        ]
    },
    {
        "id": "dac39addc0b8c22a",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "6c6589decc7e2e09",
                "08069243e3deaf4c",
                "25471fe80c53a92c",
                "87c44a29a69f2e58",
                "51392346b057198d",
                "64e8d382007476a2"
            ]
        ]
    },
    {
        "id": "6c6589decc7e2e09",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.visibility",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "9c8c502d92a98803"
            ]
        ]
    },
    {
        "id": "08069243e3deaf4c",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 240,
        "wires": [
            [
                "ab0aa9ed09d5318d"
            ]
        ]
    },
    {
        "id": "25471fe80c53a92c",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "2778d932775b7d71"
            ]
        ]
    },
    {
        "id": "87c44a29a69f2e58",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "d3ef08b3b219f296"
            ]
        ]
    },
    {
        "id": "0c8ece41a2188b42",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "9c09560b90a1d4e4"
            ]
        ]
    },
    {
        "id": "9c09560b90a1d4e4",
        "type": "http request",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Sombrio,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "795ba8c3dd168036"
            ]
        ]
    },
    {
        "id": "795ba8c3dd168036",
        "type": "json",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "93e5ce5ceae29325",
                "7a95fe980f0d9e43"
            ]
        ]
    },
    {
        "id": "7a95fe980f0d9e43",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 60,
        "wires": [
            [
                "20743b11f57e7dc7"
            ]
        ]
    },
    {
        "id": "93e5ce5ceae29325",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 3",
        "func": "msg.payload = {\n    temperatura: msg.payload.main.temp,\n    temperatura_min: msg.payload.main.temp_min,\n    temperatura_max: msg.payload.main.temp_max,\n    velocidade_vento: msg.payload.wind.speed\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 120,
        "wires": [
            [
                "b0194f441b3f0ad6"
            ]
        ]
    },
    {
        "id": "20743b11f57e7dc7",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "b0194f441b3f0ad6",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 120,
        "wires": []
    },
    {
        "id": "f1076ac060c84327",
        "type": "inject",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"teste\": \"send and consumer test\"}",
        "payloadType": "json",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "11b1f7bf5d9f49a7"
            ]
        ]
    },
    {
        "id": "98662d161017e499",
        "type": "mqtt in",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "topic": "carlos_lab1_lab2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f6c091f08d0f863",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "b5d54fa4712ac056"
            ]
        ]
    },
    {
        "id": "11b1f7bf5d9f49a7",
        "type": "mqtt out",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "topic": "carlos_lab1_lab2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f6c091f08d0f863",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5d54fa4712ac056",
        "type": "debug",
        "z": "9c559ab0993c9a3e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 520,
        "wires": []
    },
    {
        "id": "51392346b057198d",
        "type": "change",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "61ae360741f56434"
            ]
        ]
    },
    {
        "id": "64e8d382007476a2",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 4",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Aeroporto Internacional Campinas\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "dbb7cd6cddfc101b"
            ]
        ]
    },
    {
        "id": "2fe35f2f292390df",
        "type": "function",
        "z": "9c559ab0993c9a3e",
        "name": "function 5",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Aeroporto Internacional Brasilia\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 500,
        "wires": [
            [
                "dbb7cd6cddfc101b"
            ]
        ]
    },
    {
        "id": "4d8abc769c5769d9",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Visibilidade (em metros)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "d479037cd0b2e56d",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "9c8c502d92a98803",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Visibilidade (em metros)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "ab0aa9ed09d5318d",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "d3ef08b3b219f296",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "e3a6396d020f887f",
        "type": "ui_gauge",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 740,
        "wires": []
    },
    {
        "id": "c954b92dfec1b18a",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensação Termica",
        "chartType": "line",
        "legend": "false",
        "xformat": "",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "2778d932775b7d71",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensação Térmica",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dbb7cd6cddfc101b",
        "type": "ui_chart",
        "z": "9c559ab0993c9a3e",
        "name": "",
        "group": "14ae8a314a72c94b",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "Day/mm HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "61ae360741f56434",
        "type": "ui_text",
        "z": "9c559ab0993c9a3e",
        "group": "cd38f18e7233c3b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condições do céu:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "7f3aeb556769d371",
        "type": "ui_text",
        "z": "9c559ab0993c9a3e",
        "group": "0d4503469eaa3c1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condições do céu:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 660,
        "wires": []
    },
    {
        "id": "2963fa560d8b6176",
        "type": "inject",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "e103bfaf44f16561",
                "97ecea59a3e3d18d"
            ]
        ]
    },
    {
        "id": "2400f0c8aba8e352",
        "type": "json",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "54416b669bf83311",
                "dd961c32d56d3b0c",
                "0619af0cbef62d79",
                "312af598e335f38d",
                "8f36f7c16c4ad017",
                "2abf082981ba5b23"
            ]
        ]
    },
    {
        "id": "e103bfaf44f16561",
        "type": "http request",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Brasilia,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "2400f0c8aba8e352"
            ]
        ]
    },
    {
        "id": "0619af0cbef62d79",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.visibility",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "998d75a8778d7888"
            ]
        ]
    },
    {
        "id": "dd961c32d56d3b0c",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 780,
        "wires": [
            [
                "0d6a36eca109b745"
            ]
        ]
    },
    {
        "id": "54416b669bf83311",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 820,
        "wires": [
            [
                "cb2b3eea2c55884b"
            ]
        ]
    },
    {
        "id": "312af598e335f38d",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 860,
        "wires": [
            [
                "9bacc27b4927593f"
            ]
        ]
    },
    {
        "id": "8f36f7c16c4ad017",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 900,
        "wires": [
            [
                "bb59e10725c5a4bd"
            ]
        ]
    },
    {
        "id": "97ecea59a3e3d18d",
        "type": "http request",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Campinas,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 440,
        "wires": [
            [
                "4c938c0ca9e0185d"
            ]
        ]
    },
    {
        "id": "4c938c0ca9e0185d",
        "type": "json",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "f8a43bbc379798ba",
                "3c86dc1e6cab7305",
                "c8032a3974d8b521",
                "df2b4d05fd511150",
                "c7118d081ee48fd3",
                "0fe98bc578b9d779"
            ]
        ]
    },
    {
        "id": "f8a43bbc379798ba",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.visibility",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "cb5b7a04b63ba231"
            ]
        ]
    },
    {
        "id": "3c86dc1e6cab7305",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 420,
        "wires": [
            [
                "87e5bc6ad6fa90ba"
            ]
        ]
    },
    {
        "id": "c8032a3974d8b521",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 500,
        "wires": [
            [
                "39754b8855af01bc"
            ]
        ]
    },
    {
        "id": "df2b4d05fd511150",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 540,
        "wires": [
            [
                "1a6241d83eabc708"
            ]
        ]
    },
    {
        "id": "f7043e31131e3e99",
        "type": "inject",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "e28ab935268cc45e"
            ]
        ]
    },
    {
        "id": "e28ab935268cc45e",
        "type": "http request",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Sombrio,br&APPID=33cf744a30f41b46938dd46a2549456d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "7dc6defc95c85f69"
            ]
        ]
    },
    {
        "id": "7dc6defc95c85f69",
        "type": "json",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "9137f775f6088998",
                "bfeb8f1cb2a84ed7"
            ]
        ]
    },
    {
        "id": "bfeb8f1cb2a84ed7",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 20,
        "wires": [
            [
                "71470120ebbdef33"
            ]
        ]
    },
    {
        "id": "9137f775f6088998",
        "type": "function",
        "z": "c0fec39cf6bee29f",
        "name": "function 3",
        "func": "msg.payload = {\n    temperatura: msg.payload.main.temp,\n    temperatura_min: msg.payload.main.temp_min,\n    temperatura_max: msg.payload.main.temp_max,\n    velocidade_vento: msg.payload.wind.speed\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "94966448b067a7ac"
            ]
        ]
    },
    {
        "id": "71470120ebbdef33",
        "type": "debug",
        "z": "c0fec39cf6bee29f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "94966448b067a7ac",
        "type": "debug",
        "z": "c0fec39cf6bee29f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "c3858bb6601d262a",
        "type": "inject",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"teste\": \"send and consumer test\"}",
        "payloadType": "json",
        "x": 290,
        "y": 1060,
        "wires": [
            [
                "a1b28651832a236f"
            ]
        ]
    },
    {
        "id": "b7e8406624c864e6",
        "type": "mqtt in",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "topic": "henrique4sir/teste",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f6c091f08d0f863",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "49cd79d9c508544d"
            ]
        ]
    },
    {
        "id": "a1b28651832a236f",
        "type": "mqtt out",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "topic": "henrique4sir/teste",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f6c091f08d0f863",
        "x": 570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "49cd79d9c508544d",
        "type": "debug",
        "z": "c0fec39cf6bee29f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2d0105e5d4427bf6",
        "type": "comment",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "info": "Fiz de vários jeitos mas nao entendi a diferenca entre o QoS0,1,2\n\nnao pode colocar caracteres especiais (#, =) no nome do topic",
        "x": 300,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c7118d081ee48fd3",
        "type": "change",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "8bc60f16985501fa"
            ]
        ]
    },
    {
        "id": "0fe98bc578b9d779",
        "type": "function",
        "z": "c0fec39cf6bee29f",
        "name": "function 4",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Aeroporto Internacional Campinas\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "a76fca169a409aae"
            ]
        ]
    },
    {
        "id": "2abf082981ba5b23",
        "type": "function",
        "z": "c0fec39cf6bee29f",
        "name": "function 5",
        "func": "msg.payload = msg.payload.main.temp;\nmsg.topic = \"Aeroporto Internacional Brasilia\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 680,
        "wires": [
            [
                "a76fca169a409aae"
            ]
        ]
    },
    {
        "id": "998d75a8778d7888",
        "type": "ui_gauge",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Visibilidade (em metros)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "0d6a36eca109b745",
        "type": "ui_gauge",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 780,
        "wires": []
    },
    {
        "id": "cb5b7a04b63ba231",
        "type": "ui_gauge",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Visibilidade (em metros)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "87e5bc6ad6fa90ba",
        "type": "ui_gauge",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "1a6241d83eabc708",
        "type": "ui_gauge",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "bb59e10725c5a4bd",
        "type": "ui_gauge",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 900,
        "wires": []
    },
    {
        "id": "9bacc27b4927593f",
        "type": "ui_chart",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "0d4503469eaa3c1f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensação Termica",
        "chartType": "line",
        "legend": "false",
        "xformat": "",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "39754b8855af01bc",
        "type": "ui_chart",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "cd38f18e7233c3b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensação Térmica",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a76fca169a409aae",
        "type": "ui_chart",
        "z": "c0fec39cf6bee29f",
        "name": "",
        "group": "14ae8a314a72c94b",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "Day/mm HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "8bc60f16985501fa",
        "type": "ui_text",
        "z": "c0fec39cf6bee29f",
        "group": "cd38f18e7233c3b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condições do céu:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "cb2b3eea2c55884b",
        "type": "ui_text",
        "z": "c0fec39cf6bee29f",
        "group": "0d4503469eaa3c1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condições do céu:",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1110,
        "y": 820,
        "wires": []
    }
]